* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
body {
    font-family: 'Poppins', sans-serif;
}
.nav-container {
    position: fixed;
    background-color: #141414;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.main-nav {

    width: fit-content;
    margin: 0 auto;
}
.main-nav .btn {
    color: #fff;
}
.welcome-container {
    background-color: #000;
    height: 700px;
    padding: 10vh 0;
    width: 100vw;
    background: radial-gradient(circle, #b49970 0%, #4e3620 0%, #000000 100%);
}
.second-container {
    background-color: #f3f3f3;
    height: 600px;
    padding: 40px 0;
    width: 100vw;
    background: linear-gradient(180deg, #4d2e96 0%, #faf1ff 100%);
}
.third-container {
    background-color: #000;
    height: 600px;
    padding: 40px 0 0 0;
    width: 100vw;
    background-color: #f5f5f5;
}
.welcome-image {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}
.pro-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: translate(-46%, -50%);
    font-size: 380px;
    z-index: 1;
    background: linear-gradient(180deg, #fffed6, #af7eff);
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 800px;
    color: transparent;
    text-shadow: 
        0 0 100px rgb(255, 255, 255),
        0 0 100px rgb(255, 255, 255),
        0 0 100px rgba(255, 255, 255, 0.2);
}